<form [formGroup]="loginForm">
<p-card header="Ingresar al sistema" [style]="{width: '360px'}">
   <div class="field">
      <label for="email">Correo Electrónico</label>
    <input
      type="text"
      pInputText
      formControlName="email"
      class="w-full"
      name="email"
      placeholder="Teclea tu Correo Electónico"
    /> 
   </div>
   <div class="field">
    <label for="contraseña">Contraseña</label>
  <input
    type="text"
    pInputText
    formControlName="contraseña"
    class="w-full"
    minlength="8"
    name="contraseña"
    placeholder="Ingresar contraseña"
  /> 
</div>
<p-button label="Ingresar" styleClass="w-full" [disabled]="loginForm.invalid"></p-button>
<div class="mt-2">
    ¿No eres miembro? <a routerLink="/register">Registrate</a>
</div>
<small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
   <div  *ngIf="email.errors?.['required']"> Email es requerido</div>
   <div  *ngIf="email.errors?.['email']"> Email deberá ser valido</div>
</small>
<small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
    <div  *ngIf="password.errors?.['required']"> La contraseña es requerida</div>
    <div  *ngIf="password.errors?.['password']"> Contraseña deberá ser valido</div>
 </small>
</p-card>
</form>
    
